@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 13px;
  font-family: "Manrope", sans-serif;
  background-color: #ecf2f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes notifyGrowth {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.container {
  max-width: 100%;
  margin: 0 auto;
}
.container .wrapper {
  width: 750px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
}
.container .wrapper .container__img {
  overflow: hidden;
  max-width: 350px;
  height: 300px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.container .wrapper .container__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .wrapper .content {
  flex: 1;
  padding: 30px;
}
.container .wrapper .content h1 {
  color: #48556a;
  font-size: 1.5rem;
  font-weight: 700;
}
.container .wrapper .content p {
  margin: 0;
  font-size: 1rem;
  color: #6d7f97;
  font-weight: 500;
}
.container .wrapper .content .profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.container .wrapper .content .profile__info {
  display: flex;
  align-items: center;
}
.container .wrapper .content .profile__info img {
  width: 40;
  border-radius: 50%;
  height: 40px;
}
.container .wrapper .content .profile__content {
  padding: 20px;
}
.container .wrapper .content .profile__content h3 {
  color: #48556a;
  font-size: 1rem;
  margin: 0;
}
.container .wrapper .content .profile__content p {
  font-size: 1rem;
  color: #6d7f97;
  font-weight: 500;
}
.container .wrapper .content .profile__share {
  padding: 10px;
  border-radius: 50%;
  background-color: #ecf2f8;
  position: relative;
  z-index: 2;
}
.container .wrapper .content .profile__share:hover {
  background-color: #48556a;
}
.container .wrapper .content .profile__share:hover img {
  filter: brightness(100);
}
.container .wrapper .content .profile__share:hover .profile__share--social {
  display: flex;
}
.container .wrapper .content .profile__share--social {
  position: absolute;
  display: none;
  background-color: #48556a;
  top: -100px;
  right: -100px;
  padding: 15px;
  width: 200px;
  letter-spacing: 3px;
  border-radius: 10px;
  animation: notifyGrowth ease-in 0.3s;
}
.container .wrapper .content .profile__share--social p {
  color: #9eafc2;
}
.container .wrapper .content .profile__share--social img {
  object-fit: cover;
}
.container .wrapper .content .profile__share--social .share-btn {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-evenly;
}
.container .wrapper .content .profile__share--social .back-btn {
  display: none;
  margin-right: 5px;
  padding: 10px;
  background-color: #9eafc2;
  border-radius: 50%;
}
.container .wrapper .content .profile__share--social::before {
  content: "";
  position: absolute;
  border: 15px solid;
  border-color: #48556a transparent transparent transparent;
  width: 20px;
  height: 20px;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.container .wrapper .content .profile__share--social::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: -30px;
}

@media screen and (max-width: 375px) {
  html {
    display: block;
    height: unset;
  }

  .container .wrapper {
    max-width: 350px;
    height: 100%;
  }
  .container .wrapper .container__img {
    height: 200px;
  }
  .container .wrapper .content {
    padding: 20px;
  }
  .container .wrapper .content h1 {
    margin-top: 0;
  }
  .container .wrapper .content .profile {
    margin-top: 10px;
  }
  .container .wrapper .content .profile__share:hover .profile__share--social {
    display: flex;
  }
  .container .wrapper .content .profile__share--social {
    position: absolute;
    bottom: -10px;
    right: -16px;
    width: 300px;
    padding: 20px;
    align-items: center;
    top: 0;
  }
  .container .wrapper .content .profile__share--social::before {
    display: none;
  }
  .container .wrapper .content .profile__share--social .back-btn {
    display: flex;
  }
}

/*# sourceMappingURL=style.css.map */
